@font-face {
    font-display: block;
    font-family: Leto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/leto-sans/LetoSans-Regular.woff2) format("woff2")
}

@font-face {
    font-display: block;
    font-family: Leto Sans;
    font-style: normal;
    font-weight: 250;
    src: url(../fonts/leto-sans/LetoSans-Thin.woff2) format("woff2")
}