@media (min-width: 768px) {
    .ui-grid-columns-base{
        display: grid;
        grid-template-columns: 54.75rem 3.3125rem 1fr 4rem 26.25rem;
    }
    .ui-grid-columns-base--1{
        grid-template-areas: "c1 c1 c1 c1 c1";
    }
    .ui-grid-columns-base>:nth-child(n+1) {
        grid-area: c1;
    }
}